<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net471" />
  <package id="Twilio" version="5.9.0" targetFramework="net471" />
</packages>