<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net471" />
  <package id="Autofac.WebApi2" version="4.2.1" targetFramework="net471" />
  <package id="Bot.Builder.Community.Dialogs.FormFlow" version="4.3.41" targetFramework="net471" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.Azure.DocumentDB" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.DocumentDB.Core" version="2.1.2" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Storage.Blob" version="9.4.2" targetFramework="net471" />
  <package id="Microsoft.Azure.Storage.Common" version="9.4.2" targetFramework="net471" />
  <package id="Microsoft.Bot.Builder" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Bot.Builder.Azure" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Bot.Builder.Dialogs" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Bot.Builder.Integration.AspNet.WebApi" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Bot.Connector" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Bot.Schema" version="4.4.3" targetFramework="net471" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net471" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net471" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.1" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text.Choice" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text.DataTypes.TimexExpression" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text.DateTime" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text.Number" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Recognizers.Text.NumberWithUnit" version="1.1.5" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net471" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net471" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net471" />
  <package id="SourceLink.Create.CommandLine" version="2.8.3" targetFramework="net471" developmentDependency="true" />
  <package id="System.AppContext" version="4.1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Collections" version="4.0.11" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net471" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net471" />
  <package id="System.Collections.Specialized" version="4.0.1" targetFramework="net471" />
  <package id="System.Console" version="4.0.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net471" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net471" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net471" />
  <package id="System.Globalization.Calendars" version="4.0.1" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.1" targetFramework="net471" />
  <package id="System.IO" version="4.1.0" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="net471" />
  <package id="System.IO.Compression.ZipFile" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net471" />
  <package id="System.Net.NameResolution" version="4.0.0" targetFramework="net471" />
  <package id="System.Net.NetworkInformation" version="4.1.0" targetFramework="net471" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net471" />
  <package id="System.Net.Security" version="4.0.0" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net471" />
  <package id="System.Net.WebHeaderCollection" version="4.0.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net471" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net471" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net471" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.Handles" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net471" />
  <package id="System.Security.SecureString" version="4.0.0" targetFramework="net471" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net471" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net471" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net471" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net471" />
  <package id="System.Threading" version="4.0.11" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net471" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net471" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net471" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net471" />
</packages>
