extends ../layout

block content
  form(method="post")
    fieldset
      legend Checkout &amp; Payment

      p
        strong
          | Total Price: $ #{order.selection.price}

      p
        label(for="creditcard") Credit card number:
          input(type="text", name="creditcard", placeholder="Any number will do")
      p
        label(for="fullname") Full name:
          input(type="text", name="fullname", placeholder="Your full name")

      div
        input(type="hidden", name="orderId", value=order.id)
        input(type="hidden", name="address", value=address)

      p.buttons
        input(type="submit", value="Checkout!")