# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*                                                       @microsoft/bb-samples

experimental/adaptive-tool/**                           @boydc2014 @chrimc62 @GeoffCoxMSFT @microsoft/bb-samples
experimental/generation/**                              @boydc2014 @chrimc62 @GeoffCoxMSFT @microsoft/bb-samples
