<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net46" />
  <package id="Microsoft.AdaptiveCards" version="0.5.0" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
</packages>