# EditorConfig is awesome:http://EditorConfig.org

###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8-bom

[*.{js, ts}]
indent_size = 4
trim_trailing_whitespace = true

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2

###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true

# this. preferences
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_readonly_field = true:suggestion

# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:none
dotnet_prefer_inferred_tuple_names = true:suggestion
dotnet_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion

###############################
# Naming Conventions          #
###############################

# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization             = pascal_case

# Use PascalCase for constant fields  
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds            = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities  = *
dotnet_naming_symbols.constant_fields.required_modifiers          = const

###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion

# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

# Expression-level preferences
csharp_prefer_braces = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion

###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true 
csharp_indent_switch_labels = true 
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false 
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Expression-level preferences
csharp_prefer_braces = true:none
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion

###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true 
csharp_indent_switch_labels = true 
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false 
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_accessors = true:none

# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

# Expression-level preferences
csharp_prefer_braces = true:none
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion

###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true 
csharp_indent_switch_labels = true 
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false 
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Expression-level preferences
csharp_prefer_braces = true:none
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion

###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true 
csharp_indent_switch_labels = true 
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false 
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

###############################
# .NET Analizers              #
###############################
# Analyzers (full list of rules in https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md)

[samples/**.cs]

# Microsoft.AspNetCore.Analyzers
dotnet_diagnostic.ASP0000.severity = error
dotnet_diagnostic.ASP0001.severity = error
dotnet_diagnostic.MVC1005.severity = error

# Microsoft.AspNetCore.App.Analyzers
dotnet_diagnostic.ASP0003.severity = error
dotnet_diagnostic.ASP0004.severity = error
dotnet_diagnostic.ASP0005.severity = error
dotnet_diagnostic.ASP0006.severity = error

# Microsoft.AspNetCore.Components.Analyzers
dotnet_diagnostic.BL0001.severity = error
dotnet_diagnostic.BL0002.severity = error
dotnet_diagnostic.BL0003.severity = error
dotnet_diagnostic.BL0004.severity = error
dotnet_diagnostic.BL0005.severity = error
dotnet_diagnostic.BL0006.severity = error

# Micrisoft.AspNetCore.Mvc.Analyzers
dotnet_diagnostic.MVC1000.severity = error
dotnet_diagnostic.MVC1001.severity = error
dotnet_diagnostic.MVC1002.severity = error
dotnet_diagnostic.MVC1003.severity = error
dotnet_diagnostic.MVC1004.severity = error
dotnet_diagnostic.MVC1006.severity = error

# Microsoft.CodeAnalysis.CSharp.NetAnalyzers
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1200.severity = none
dotnet_diagnostic.CA1309.severity = error
dotnet_diagnostic.CA1507.severity = suggestion
dotnet_diagnostic.CA1802.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1824.severity = suggestion
dotnet_diagnostic.CA1825.severity = suggestion
dotnet_diagnostic.CA1841.severity = suggestion
dotnet_diagnostic.CA1845.severity = suggestion
dotnet_diagnostic.CA2014.severity = error
dotnet_diagnostic.CA2016.severity = suggestion
dotnet_diagnostic.CA2234.severity = none
dotnet_diagnostic.CA2252.severity = error
dotnet_diagnostic.CA2352.severity = none
dotnet_diagnostic.CA2353.severity = none
dotnet_diagnostic.CA2354.severity = none
dotnet_diagnostic.CA2355.severity = none
dotnet_diagnostic.CA2356.severity = none
dotnet_diagnostic.CA2362.severity = none

# Microsoft.CodeAnalysis.NetAnalyzers
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1003.severity = none
dotnet_diagnostic.CA1005.severity = none
dotnet_diagnostic.CA1008.severity = none
dotnet_diagnostic.CA1010.severity = none
dotnet_diagnostic.CA1012.severity = none
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1016.severity = suggestion
dotnet_diagnostic.CA1017.severity = none
dotnet_diagnostic.CA1018.severity = suggestion
dotnet_diagnostic.CA1019.severity = none
dotnet_diagnostic.CA1021.severity = none
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1027.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1030.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1033.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1036.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1041.severity = suggestion
dotnet_diagnostic.CA1043.severity = none
dotnet_diagnostic.CA1044.severity = none
dotnet_diagnostic.CA1045.severity = none
dotnet_diagnostic.CA1046.severity = none
dotnet_diagnostic.CA1050.severity = suggestion
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1052.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1058.severity = none
dotnet_diagnostic.CA1060.severity = none
dotnet_diagnostic.CA1061.severity = suggestion
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1063.severity = none
dotnet_diagnostic.CA1064.severity = none
dotnet_diagnostic.CA1065.severity = none
dotnet_diagnostic.CA1066.severity = none
dotnet_diagnostic.CA1067.severity = suggestion
dotnet_diagnostic.CA1068.severity = suggestion
dotnet_diagnostic.CA1069.severity = suggestion
dotnet_diagnostic.CA1070.severity = suggestion
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA1401.severity = suggestion
dotnet_diagnostic.CA1416.severity = error
dotnet_diagnostic.CA1417.severity = error
dotnet_diagnostic.CA1418.severity = error
dotnet_diagnostic.CA1419.severity = suggestion
dotnet_diagnostic.CA1501.severity = none
dotnet_diagnostic.CA1502.severity = none
dotnet_diagnostic.CA1505.severity = none
dotnet_diagnostic.CA1506.severity = none
dotnet_diagnostic.CA1508.severity = none
dotnet_diagnostic.CA1509.severity = none
dotnet_diagnostic.CA1700.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1708.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1712.severity = none
dotnet_diagnostic.CA1713.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = error
dotnet_diagnostic.CA1720.severity = error
dotnet_diagnostic.CA1721.severity = error
dotnet_diagnostic.CA1724.severity = error
dotnet_diagnostic.CA1725.severity = none
dotnet_diagnostic.CA1727.severity = none
dotnet_diagnostic.CA1806.severity = suggestion
dotnet_diagnostic.CA1810.severity = error
dotnet_diagnostic.CA1813.severity = none
dotnet_diagnostic.CA1814.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1816.severity = suggestion
dotnet_diagnostic.CA1819.severity = error
dotnet_diagnostic.CA1820.severity = error
dotnet_diagnostic.CA1821.severity = suggestion
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1823.severity = error
dotnet_diagnostic.CA1826.severity = suggestion
dotnet_diagnostic.CA1827.severity = suggestion
dotnet_diagnostic.CA1828.severity = suggestion
dotnet_diagnostic.CA1829.severity = suggestion
dotnet_diagnostic.CA1830.severity = suggestion
dotnet_diagnostic.CA1831.severity = error
dotnet_diagnostic.CA1832.severity = suggestion
dotnet_diagnostic.CA1833.severity = suggestion
dotnet_diagnostic.CA1834.severity = suggestion
dotnet_diagnostic.CA1835.severity = suggestion
dotnet_diagnostic.CA1836.severity = suggestion
dotnet_diagnostic.CA1837.severity = suggestion
dotnet_diagnostic.CA1838.severity = none
dotnet_diagnostic.CA1839.severity = suggestion
dotnet_diagnostic.CA1840.severity = suggestion
dotnet_diagnostic.CA1842.severity = suggestion
dotnet_diagnostic.CA1843.severity = suggestion
dotnet_diagnostic.CA1844.severity = suggestion
dotnet_diagnostic.CA1846.severity = suggestion
dotnet_diagnostic.CA1847.severity = suggestion
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1849.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2002.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2008.severity = none
dotnet_diagnostic.CA2009.severity = suggestion
dotnet_diagnostic.CA2011.severity = suggestion
dotnet_diagnostic.CA2012.severity = suggestion
dotnet_diagnostic.CA2013.severity = error
dotnet_diagnostic.CA2015.severity = error
dotnet_diagnostic.CA2017.severity = error
dotnet_diagnostic.CA2018.severity = error
dotnet_diagnostic.CA2100.severity = none
dotnet_diagnostic.CA2101.severity = suggestion
dotnet_diagnostic.CA2109.severity = none
dotnet_diagnostic.CA2119.severity = none
dotnet_diagnostic.CA2153.severity = none
dotnet_diagnostic.CA2200.severity = error
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA2207.severity = none
dotnet_diagnostic.CA2208.severity = suggestion
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CA2214.severity = none
dotnet_diagnostic.CA2215.severity = none
dotnet_diagnostic.CA2216.severity = none
dotnet_diagnostic.CA2217.severity = none
dotnet_diagnostic.CA2219.severity = suggestion
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA2226.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA2229.severity = none
dotnet_diagnostic.CA2231.severity = suggestion
dotnet_diagnostic.CA2235.severity = none
dotnet_diagnostic.CA2237.severity = none
dotnet_diagnostic.CA2241.severity = suggestion
dotnet_diagnostic.CA2242.severity = suggestion
dotnet_diagnostic.CA2243.severity = suggestion
dotnet_diagnostic.CA2244.severity = suggestion
dotnet_diagnostic.CA2245.severity = suggestion
dotnet_diagnostic.CA2246.severity = suggestion
dotnet_diagnostic.CA2247.severity = error
dotnet_diagnostic.CA2248.severity = suggestion
dotnet_diagnostic.CA2249.severity = suggestion
dotnet_diagnostic.CA2250.severity = suggestion
dotnet_diagnostic.CA2251.severity = none
dotnet_diagnostic.CA2253.severity = suggestion
dotnet_diagnostic.CA2254.severity = suggestion
dotnet_diagnostic.CA2255.severity = error
dotnet_diagnostic.CA2256.severity = error
dotnet_diagnostic.CA2257.severity = error
dotnet_diagnostic.CA2258.severity = error
dotnet_diagnostic.CA2300.severity = none
dotnet_diagnostic.CA2301.severity = none
dotnet_diagnostic.CA2302.severity = none
dotnet_diagnostic.CA2305.severity = none
dotnet_diagnostic.CA2310.severity = none
dotnet_diagnostic.CA2311.severity = none
dotnet_diagnostic.CA2312.severity = none
dotnet_diagnostic.CA2315.severity = none
dotnet_diagnostic.CA2321.severity = none
dotnet_diagnostic.CA2322.severity = none
dotnet_diagnostic.CA2326.severity = none
dotnet_diagnostic.CA2327.severity = none
dotnet_diagnostic.CA2328.severity = none
dotnet_diagnostic.CA2329.severity = none
dotnet_diagnostic.CA2330.severity = none
dotnet_diagnostic.CA2350.severity = none
dotnet_diagnostic.CA2351.severity = none
dotnet_diagnostic.CA2361.severity = none
dotnet_diagnostic.CA3001.severity = none
dotnet_diagnostic.CA3002.severity = none
dotnet_diagnostic.CA3003.severity = none
dotnet_diagnostic.CA3004.severity = none
dotnet_diagnostic.CA3005.severity = none
dotnet_diagnostic.CA3006.severity = none
dotnet_diagnostic.CA3007.severity = none
dotnet_diagnostic.CA3008.severity = none
dotnet_diagnostic.CA3008.severity = none
dotnet_diagnostic.CA3010.severity = none
dotnet_diagnostic.CA3011.severity = none
dotnet_diagnostic.CA3012.severity = none
dotnet_diagnostic.CA3061.severity = none
dotnet_diagnostic.CA3075.severity = none
dotnet_diagnostic.CA3076.severity = none
dotnet_diagnostic.CA3077.severity = none
dotnet_diagnostic.CA3147.severity = none
dotnet_diagnostic.CA5350.severity = none
dotnet_diagnostic.CA5351.severity = none
dotnet_diagnostic.CA5358.severity = none
dotnet_diagnostic.CA5359.severity = none
dotnet_diagnostic.CA5360.severity = none
dotnet_diagnostic.CA5361.severity = none
dotnet_diagnostic.CA5362.severity = none
dotnet_diagnostic.CA5363.severity = none
dotnet_diagnostic.CA5364.severity = none
dotnet_diagnostic.CA5365.severity = none
dotnet_diagnostic.CA5366.severity = none
dotnet_diagnostic.CA5367.severity = none
dotnet_diagnostic.CA5368.severity = none
dotnet_diagnostic.CA5369.severity = none
dotnet_diagnostic.CA5370.severity = none
dotnet_diagnostic.CA5371.severity = none
dotnet_diagnostic.CA5372.severity = none
dotnet_diagnostic.CA5373.severity = none
dotnet_diagnostic.CA5374.severity = none
dotnet_diagnostic.CA5375.severity = none
dotnet_diagnostic.CA5376.severity = none
dotnet_diagnostic.CA5377.severity = none
dotnet_diagnostic.CA5378.severity = none
dotnet_diagnostic.CA5379.severity = none
dotnet_diagnostic.CA5380.severity = none
dotnet_diagnostic.CA5381.severity = none
dotnet_diagnostic.CA5382.severity = none
dotnet_diagnostic.CA5383.severity = none
dotnet_diagnostic.CA5384.severity = none
dotnet_diagnostic.CA5385.severity = none
dotnet_diagnostic.CA5386.severity = none
dotnet_diagnostic.CA5387.severity = none
dotnet_diagnostic.CA5388.severity = none
dotnet_diagnostic.CA5389.severity = none
dotnet_diagnostic.CA5390.severity = none
dotnet_diagnostic.CA5391.severity = none
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CA5393.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA5395.severity = none
dotnet_diagnostic.CA5396.severity = none
dotnet_diagnostic.CA5397.severity = none
dotnet_diagnostic.CA5398.severity = none
dotnet_diagnostic.CA5399.severity = none
dotnet_diagnostic.CA5400.severity = none
dotnet_diagnostic.CA5401.severity = none
dotnet_diagnostic.CA5402.severity = none
dotnet_diagnostic.CA5403.severity = none
dotnet_diagnostic.CA5404.severity = none
dotnet_diagnostic.CA5405.severity = none