<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Sample App</title>
    <link rel="stylesheet" href="~/css/Site.css" />

    @RenderSection("scripts", required: false)
</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</body>
</html>
