<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="codeItemsSection" type="SourceTool.CodeItemsSection, SourceTool" />
  </configSections>
  
  <codeItemsSection>
    <codeItems>
      <!-- we can use regex because we know function is implemented at the end of the class [regexs are not good to handle non-regular langs] -->
      <add typeRegex="\s([\S]+)\s:\sRichCardScorable[^{]+{"
           codeRegex="IList&lt;Attachment&gt;\sGetCardAttachments\(\)[^{]+{([\s\S]+)}[^}]+}[^}]+">
        <replacements>
          <add replacementRegex="return\s" replacementValue="message.Attachments = " />
        </replacements>
      </add>
    </codeItems>
  </codeItemsSection>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>