@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>MyView</title>
</head>

<body>
    <div>
        Welcome to HTML Page
    </div>
</body>

</html>