.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
shared.webpack.config.js
client/**
!client/out/extension.js
server/**
!server/out/server.js
scripts/**
