<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Hello World Sample App</title>

    <link rel="stylesheet" href="~/css/msteams-16.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://unpkg.com/%40microsoft/teams-js%401.3.4/dist/MicrosoftTeams.min.js"></script>

</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</body>
</html>
