<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0-rc3-309" targetFramework="net46" />
  <package id="autorest" version="0.16.0" targetFramework="net46" />
  <package id="Braintree" version="2.64.0" targetFramework="net46" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="Lorem.NET" version="1.0.6" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.19-build00125" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Log4NetAppender" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Bot.Builder" version="3.5.3" targetFramework="net46" />
  <package id="Microsoft.Identity.Client" version="1.0.304142221-alpha" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.12.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Logging" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.0.0" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="PayPal" version="1.8.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net46" />
  <package id="System.IO" version="4.1.0" targetFramework="net46" />
  <package id="System.Linq" version="4.1.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net46" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net46" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Json" version="4.0.2" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.11" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net46" />
</packages>