{
  "name": "{WEB_SITE_NAME}",
  "description": "{WEB_SITE_NAME} Azure Bot Service Code",
  "capabilities": {
    "versioncontrol": {
      "sourceControlType": "Git"
    },
    "processTemplate": {
      "templateTypeId": "6b724908-ef14-45cf-84f8-768b5384da45"
    }
  }
}