@page
@model Microsoft.BotBuilderSamples.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<header class="l-header">
    <div class="logo">
        <img src="https://static2.sharepointonline.com/files/fabric/assets/brand-icons/product-fluent/svg/teams_48x1.svg"
                class="logo">
    </div>
    <div class="l-title">
        <h1>Welcome to Teams <em>Tabs</em></h1>
    </div>
</header>
<article class="l-article">
    <p>Generate a Microsoft Teams application.</p>

    <p>
        Add the Bot to Microsoft Teams:
            
        <a href='https://teams.microsoft.com/l/chat/0/0?users=28:"@Model.MicrosoftAppId"'><img height="30" width="113" src='https://dev.botframework.com/Client/Images/Add-To-MSTeams-Buttons.png'></a>
    </p>

</article>
