body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset {
    padding: 0 10px 10px 10px; margin: 10px;
    border: 1px solid #ccc;
}

fieldset legend { width: auto; border: 0 }

label > span:first-child { font-weight: bold; }
input,
select,
textarea {
    max-width: 280px;
}

fieldset input[type=text] { width: 260px; }
fieldset input[type=text][readonly] { background-color: #eee; border-width: 1px; }
#query { width: 450px; max-width: none; }

.error { color: #d00; }

