<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.1.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.1.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="7.1.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.1.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.7.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="8.0.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Twilio" version="5.9.0" targetFramework="net471" />
</packages>