body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset {
  border: 1px solid #ccc
}

fieldset label {
  display: block;
  width: 400px;
  clear: both;
}

fieldset label input {
  float: right;
}