{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "58",
                    "esmodules": true
                }
            }
        ]
    ],
    "ignore": [
        "**/*.d.ts"
    ],
    "sourceMaps": "inline",
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
    ]
}
