
@{
    ViewBag.Title = "Chat";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Bot Chat</title>
    <link href="https://unpkg.com/botframework-webchat@0.6.5/botchat.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        .wc-chatview-panel {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="BotChatGoesHere"></div>

    <script src="https://unpkg.com/botframework-webchat@0.6.5/botchat.js"></script>
    <script>
        var user = {
            id: '@ViewBag.UserId',
            name: 'Samples Viewer'
        };

        var bot = {
            id: 'botId',
            name: 'botName'
        };

        var botConnection = new BotChat.DirectLine({
            secret: '@ViewBag.DirectLineSecret'
            //token: params.t,
            //domain: params.d,
            //webSocket: params.ws
        });

        BotChat.App({
            botConnection: botConnection,
            user: user,
            bot: bot
        }, document.getElementById('BotChatGoesHere'));

        function sendMessages(messages) {
            var currentMessage = messages.shift();
            botConnection
                .postActivity({ type: 'message', text: currentMessage, from: user, name: '', value: '' })
                .subscribe(() => {
                    if (messages.length) {
                        sendMessages(messages);
                    }
                });
        }

        document.sendMessages = sendMessages;

        var cmds = '@ViewBag.Commands';
        if (cmds) {
            sendMessages(cmds.split(','));
        }
    </script>
</body>
</html>